{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Bangladesh Submarine Cable Company Limited<br />
    191, Tejgaon-Gulshan Link Road, Dhaka<br />
    <abbr title="Phone">P:</abbr>
    xxxxxxxx
</address>

{% if submitted %}
    <p class="success">
        your message was submitted successfully.
    </p>
{% else %}
    <form action="" method="post" novalidate>
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit"</td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
{% endif %}

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mohibul.hasan@bsccl.com</a><br />
    {#<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>#}
</address>

{% endblock %}
