{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Bangladesh Submarine Cable Company Limited<br />
    191, Tejgaon-Gulshan Link Road, Dhaka<br />
    <abbr title="Phone">P:</abbr>
    xxxxxxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mohibul.hasan@bsccl.com</a><br />
    {#<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>#}
</address>

{% endblock %}
