{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
{#<h3>{{ message }}</h3>#}

<div class="dropdown">
    <button type="button" onclick="location.href='{% url 'script' %}'" class="btn btn-primary">RTR-DHK-01</button>
    
    <form action="">
        {% csrf_token %}
        Input Text:
        <input type="text" name="param" required><br><br>
        {{data_external}}<br><br>
        {{data1}}
        <br><br>
        <input type="submit" value="Execute External Python Script">
    </form>
 </div>

{% endblock %}
